@model LeagueOfBalkan.ViewModels.HomePageViewModel
@using LeagueOfBalkan.Helpers
@using System.Text.RegularExpressions

@{
    ViewBag.Title = "League of Balkan";
}


@*@foreach (var item in @Model.StreamData.viewers)
{
    <div>@item</div>
}*@
    
<div class="row" id="carouselrowhome">
    <div id="carousel-example-generic" class="carousel slide col-lg-8 lowpadding" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            @{
                var i = 0;
                foreach (var item in Model.CarouselNews)
                {
                    var itemClass = i++ == 0 ? "item active" : "item";
                    <div class="@itemClass">
                        <a href="@Url.Action("Details", "News", new { id = item.ID, newsName = item.Title.ToSeoUrl() })">
                            <img src="@Url.Content(item.ImagePath)" class="carouselimage" />
                            <div class="carousel-caption">
                                @item.Title @*@Html.Raw(item.Text.Length > 50 ? item.Text.Substring(0, 50) : item.Text)*@
                            </div>
                        </a>
                    </div>
                }
            }
        </div>

    </div>

    @foreach (var item in Model.MiniNews)
    {
        <div class="col-lg-4 col-md-12 tophomemininewscontainer lowpadding">
            <div class="homemininews tophomemininews">
                <a href="@Url.Action("Details", "News", new { id = item.ID, newsName = item.Title.ToSeoUrl() })">
                    <p class="title">@Html.Raw(item.Title.Length > 37 ? item.Title.Substring(0, 37) + "..." : item.Title)</p>
                </a>
                <p>@WebUtility.HtmlDecode(Regex.Replace((item.Text.Length > 350 ? item.Text.Substring(0, 350) + "..." : item.Text), "<[^>]*(>|$)", string.Empty))</p>
            </div>
        </div>
    }

</div>

<div class="row newshomerow">

    @foreach (var item in Model.MainNews)
    {
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 lowpadding">
            <div class="homemininews">
                <a href="@Url.Action("Details", "News", new { id = item.ID, newsName = item.Title.ToSeoUrl() })">
                    <img src="@Url.Content(item.ThumbPath)" />
                </a>
                <a href="@Url.Action("Details", "News", new { id = item.ID, newsName = item.Title.ToSeoUrl() })">
                    <p class="title">@Html.Raw(item.Title.Length > 37 ? item.Title.Substring(0, 37) + "..." : item.Title)</p>
                </a>
                <p>@WebUtility.HtmlDecode(Regex.Replace((item.Text.Length > 260 ? item.Text.Substring(0, 260) + "..." : item.Text), "<[^>]*(>|$)", string.Empty))</p>
            </div>
        </div>
    }

</div>

@Html.Partial("_StreamersPartial")

