@model LeagueOfBalkan.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "League of Balkan";
}

<div class="row" id="carouselrowhome">
    <div id="carousel-example-generic" class="carousel slide col-lg-8 lowpadding" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">

            @{
                var i = 0;
                foreach (var item in Model.CarouselNews)
                {
                    var itemClass = i++ == 0 ? "item active" : "item";
                    <div class="@itemClass">
                        <img src="@Url.Content(item.ImagePath)" class="carouselimage" />
                        <div class="carousel-caption">
                            @item.Title - @Html.Raw(item.Text.Length > 50 ? item.Text.Substring(0, 50) : item.Text)
                        </div>
                    </div>
                }
            }
        </div>

    </div>

    @foreach (var item in Model.MiniNews)
    {
        <div class="col-lg-4 tophomemininewscontainer lowpadding">
            <div class="homemininews tophomemininews">
                <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                @Html.Raw(item.Text.Length > 300 ? item.Text.Substring(0, 300) : item.Text)
            </div>
        </div>
    }

</div>

<div class="row newshomerow">

    @foreach (var item in Model.MainNews)
    {
        <div class="col-lg-4 lowpadding">
            <div class="homemininews">
                <img src="@Url.Content(item.ThumbPath)" />
                <h2>@item.Title</h2>
                <p>@Html.Raw(item.Text.Length > 300 ? item.Text.Substring(0, 300) : item.Text)</p>
            </div>
        </div>
    }

</div>

<div class="row streamerhomerow">

    <div class="col-lg-3 streamlink lowpadding">
        <a href="#">
            <div class="streamerhomeicon">
                <img src="~/Content/Images/wickd_small.jpg" />
                <p>Streamer name</p>
                <p>Viewer count</p>
            </div>
        </a>
    </div>

    <div class="col-lg-3 streamlink lowpadding">
        <a href="#">
            <div class="streamerhomeicon">
                <img src="~/Content/Images/wickd_small.jpg" />
                <p>Streamer name</p>
                <p>Viewer count</p>
            </div>
        </a>
    </div>

    <div class="col-lg-3 streamlink lowpadding">
        <a href="#">
            <div class="streamerhomeicon">
                <img src="~/Content/Images/wickd_small.jpg" />
                <p>Streamer name</p>
                <p>Viewer count</p>
            </div>
        </a>
    </div>

    <div class="col-lg-3 streamlink lowpadding">
        <a href="#">
            <div class="streamerhomeicon">
                <img src="~/Content/Images/wickd_small.jpg" />
                <p>Streamer name</p>
                <p>Viewer count</p>
            </div>
        </a>
    </div>

</div>

