@model LeagueOfBalkan.Models.News
@using System.Web
@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="newsheader col-sm-12 col-md-12"><h2>News Section</h2></div>
</div>

<div class="row newsdetailrow">
    <div class="col-sm-9 col-md-9">
        <div class="newsdetail">
            <h3>@Model.Title</h3>
            <hr />
            <img src="@Url.Content(Model.ImagePath)" />
            <div>
                @Html.Raw(HttpUtility.HtmlDecode(@Model.Text))
            </div>
            @*<p class="date">@Model.Date</p>*@
            <p class="date"><abbr class="timeago" title="@Model.Date"></abbr></p>
        </div>
    </div>
    <div class="col-sm-3 col-md-3"></div>
</div>

@Html.Partial("_StreamersPartial")


@section scripts{
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery("abbr.timeago").timeago();
        });
    </script>
}