@model LeagueOfBalkan.ViewModels.NewsDetailsViewModel
@using LeagueOfBalkan.Helpers
@using System.Web

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="newsheader col-sm-12 col-md-12"><h2>News Section</h2></div>
</div>

<div class="row newsdetailrow">
    <div class="col-sm-9 col-md-9 lowpadding">
        <div class="newsdetail">
            <h3>@Model.NewsDetail.Title</h3>
            <hr />
            <img src="@Url.Content(Model.NewsDetail.ImagePath)" />
            <div class="text">
                @Html.Raw(HttpUtility.HtmlDecode(@Model.NewsDetail.Text))
            </div>
            <p class="date"><i class="fa fa-clock-o"></i><abbr class="timeago" title="@Model.NewsDetail.Date"></abbr></p>
        </div>
    </div>
    <div class="col-sm-3 col-md-3 lowpadding">
        <div class="newsdetail">
            <h4>Recent News</h4>
            <hr />
            @foreach (var item in Model.RecentNews)
            {
                <a href="@Url.Action("Details", "News", new { id = item.ID, newsName = item.Title.ToSeoUrl() })">
                    <p>@item.Title</p>
                </a>
            }
        </div>
    </div>
</div>

@Html.Partial("_StreamersPartial")


@section scripts{
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery("abbr.timeago").timeago();
        });
    </script>
}