@model IEnumerable<LeagueOfBalkan.Models.News>
@using System.Text.RegularExpressions
@using LeagueOfBalkan.Helpers

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="newsheader col-sm-12 col-md-12"><h2>News Archive</h2></div>
</div>

<div class="row newsdetailrow">
    <div class="col-sm-12 col-md-9 col-lg-9 lowpadding">
        <div class="newsdetail archivecontainer">
            @foreach (var item in Model)
            {
                <div class="newsarchive">
                    <div class="archivethumb"><a href="@Url.Action("Details", "News", new { id = item.ID, newsName = item.Title.ToSeoUrl() })"><img src="@Url.Content(item.ThumbPath)" /></a></div>
                    <div class="archivetext">
                        <a href="@Url.Action("Details", "News", new { id = item.ID, newsName = item.Title.ToSeoUrl() })">
                            <p class="title">@Html.Raw(item.Title.Length > 37 ? item.Title.Substring(0, 37) + "..." : item.Title)</p>
                        </a>
                        <p>@WebUtility.HtmlDecode(Regex.Replace((item.Text.Length > 500 ? item.Text.Substring(0, 500) + "..." : item.Text), "<[^>]*(>|$)", string.Empty))</p>
                    </div>
                </div>
                <p class="date"><i class="fa fa-clock-o"></i><abbr class="timeago" title="@item.Date"></abbr></p>
                <hr />
            }
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery("abbr.timeago").timeago();
        });
    </script>
}